footer.container-fluid.bg-dark.py-3
  .row.container-fluid.align-items-start.justify-content-center
    .col-3.d-flex.flex-column.align-items-start.justify-content-start.text-white
      .container-fluid.d-flex.flex-row.align-items-center.justify-content-start.mb-3
        img.img-fluid.rounded.me-3(src=settingGeneral.logo alt='tech_store_logo')
      ul  
        li Địa chỉ:  #{settingGeneral.address}
        li Số điện thoại: #{settingGeneral.phone}
        li Email: #{settingGeneral.email}
    .col-3.d-flex.flex-column.align-items-start.justify-content-start.text-white
      span.fs-5.fw-bold Chính sách
      ul
        li Chính sách giao hàng
        li Chính sách bảo hành
    .col-3.d-flex.flex-column.align-items-start.justify-content-start.text-white
      span.fs-5.fw-bold Hướng dẫn
      ul
        li Hướng dẫn thanh toán
        li Hướng dẫn trả góp
    .col-3.d-flex.flex-column.align-items-start.justify-content-start.text-white
      span.fs-5.fw-bold Phương thức thanh toán
      img.w-75.my-2.rounded(src='/images/payMethod.png' alt='pay-method')